/*-----------------Topnav-------------------------*/
.topnav{width: 100%;height: 109px;margin: auto;background: url("images/header_on_bg.jpg");}
.topcontent{width: 960px;height: auto;margin: auto;position: relative;margin-right: 204px;margin-left: 204px;z-index: 50}
.miuilogo{display: block;width: 153px;height: 35px;background: url("images/miui_logo.png");position: absolute;top: 35px;left: 0px;}
.menu{width: 655px;height: 100px;margin: auto;position: absolute;top: 9px! important;top: 9px;left: 220px !important;left: 180px;}
#shouyetupian{background: url("images/menu_li_bg_1.png") no-repeat scroll center 87px transparent !important;background: url("images/menu_li_bg_1.png") no-repeat scroll center 87px transparent;}
.menu li{width: 100px;height: 50px;float: left;text-align: center;line-height: 40px;font-weight: bold;padding: 30px 0 20px !important;padding: 30px 0 35px;}
.menu a{color: rgb(255,255,255);}
.menu span{color: rgb(255,255,255);}
.morepro{width: 100px;height: 40px;float: left;line-height: 40px;}
.tbmenu{display: none;width: 119px;height: 178px;position: absolute;z-index: 999;background-image: url("images/products_bg.png");left: 290px;top: 60px;}
.tbmenudd{width: 100%;height: auto;margin: auto;text-align: center;line-height: 26px;position: relative;z-index: 9999;top: 20px;left:-5px !important;left: -20px;}
.morepro dd a{color: rgb(82,82,82);font-weight: normal;font-size: 14px;display: inline-block;width: 66px;height: 29px;line-height: 29px;white-space: nowrap;}
.morepro dd a:hover{color: rgb(214, 83, 28);}
.selectziti{color: rgb(204, 162, 148);width: 100px;height: 16px;margin: auto;position: relative;left: 445px !important;left: 870px;top: 48px;line-height: 16px;font-size: 12px;text-align: right;}
.selectziti a{color: rgb(204, 162, 148);}
.selectziti a:hover{color: white;cursor:pointer;}
/*-----------------Topnav-------------------------*/

/*----------------content------------------------*/
.content{width: auto !important;width: 1365px;height: 1368px;margin: auto;background: url("images/content_bg.gif") repeat-x scroll left top white;position: relative;z-index: 1;}
.maincontent{width: 960px;height: auto;margin-right: 202.5px;margin-left: 202.5px;}

.content1{width: auto;height: 548px;background-image: url("images/content_1_bg_2.png");position: relative;z-index: 55;}
.xiazaihebbs{width: auto;height: 66px;margin: auto;position: absolute;top: 378px;left: 9px;}
.xiazai{width: 164px;height: 66px;display: block;margin: auto;text-align: center;font-size: 20px;line-height: 62px;color: rgb(195, 64, 0);}
.xiazai:hover{background-image: url("images/to_rom_hover.png");color: rgb(255,255,255);}
.bbs{width: 164px;height: 66px;display: block;margin: auto;text-align: center;font-size: 20px;line-height: 62px;color: rgb(95, 95, 95);}
.bbs:hover{background-image: url("images/to_discuz_hover.png");color: rgb(255,255,255);}

.content2{width: auto;height: 200px;margin: auto;}
.playvideo{position: absolute;top: 23px;left: 37px;}
.playvideo:hover{cursor: pointer;}
.video{width: 800px;height: 150px;margin: auto !important;margin-left: 100px;padding-top: 50px !important;padding-top: 40px;padding-left: auto;}
.video li{margin-right: 50px !important;margin-left: 50px !important;margin-right: 45px;margin-left: 45px;}
.video h3{color: rgb(144, 144, 145);font-size: 12px;font-weight: 400;position: absolute;top: 95px;left: 12px;}
.v1{width: 100px;height: 127px !important;height: 89px;background-image: url("images/videos.png");background-position: 0px 0px;position: relative;}
.v1:hover{width: 100px;height: 127px !important;height: 89px;background-image: url("images/videos.png");background-position: -526px 0px;position: relative;}
.v2{width: 100px;height: 127px !important;height: 89px;background-image: url("images/videos.png");background-position: -122px 0px;position: relative;}
.v2:hover{width: 100px;height: 127px !important;height: 89px;background-image: url("images/videos.png");background-position: -661px 0px;position: relative;}
.v3{width: 100px;height: 127px !important;height: 89px;background-image: url("images/videos.png");background-position: -256px 0px;position: relative;}
.v3:hover{width: 100px;height: 127px !important;height: 89px;background-image: url("images/videos.png");background-position: -799px 0px;position: relative;}
.v4{width: 100px;height: 127px !important;height: 89px;background-image: url("images/videos.png");background-position: -393px 0px;position: relative;}
.v4:hover{width: 100px;height: 127px !important;height: 89px;background-image: url("images/videos.png");background-position: -934px 0px;position: relative;}

.content3{width: auto;height: 620px;}
.function{width: 960px;height: 460px;margin-top: 65px;text-align: center;}
.l1{width: 179px;height: 210px;display: block;background-image: url("images/index_icons.png");background-position: 23px 20px;margin: 0 30px 20px;}
.l2{width: 179px;height: 210px;display: block;background-image: url("images/index_icons.png");background-position: -122px 20px;margin: 0 30px 20px;}
.l3{width: 179px;height: 210px;display: block;background-image: url("images/index_icons.png");background-position: -260px 20px;margin: 0 30px 20px;}
.l4{width: 179px;height: 210px;display: block;background-image: url("images/index_icons.png");background-position: -403px 20px;margin: 0 30px 20px;}
.l5{width: 179px;height: 210px;display: block;background-image: url("images/index_icons.png");background-position: -552px 20px;margin: 0 30px 20px;}
.l6{width: 179px;height: 210px;display: block;background-image: url("images/index_icons.png");background-position: -704px 20px;margin: 0 30px 20px;}
.l7{width: 179px;height: 210px;display: block;background-image: url("images/index_icons.png");background-position: -844px 20px;margin: 0 30px 20px;}
.l8{width: 179px;height: 210px;display: block;background-image: url("images/index_icons.png");background-position: -987px 20px;margin: 0 30px 20px;}

.function li h3 {font-size: 16px;color: rgb(73, 73, 73);margin-top: 128px;font-weight: 400;}
.function li p{font-size: 12px;color: rgb(167, 167, 167);margin-top: 5px;}

.liaojiemore{width: 200px;height: 40px;margin: auto;text-align: center;padding-top: 10px;}
.liaojiemore a{display: inline-block;background-image: url("images/index_more.png");background-position: -41px -16px;background-repeat: no-repeat;width: 220px;height: 30px;}
.liaojiemore a:hover{display: inline-block;background-image: url("images/index_more.png");background-position: -41px -54px;background-repeat: no-repeat;width: 220px;height: 30px;}
/*----------------content------------------------*/


/*--------------footer----------------------*/
.footer{width: 100%;height: 322px;background-color: rgb(47, 47, 47);padding: 60px 0px 50px;color: rgb(255,255,255);}
.footer ol{width: 660px;height: 116px;text-align: left;margin: auto;}
.footer ol li{width: 104px;float: left;}
.footer a{color: rgb(255,255,255);font-size: 12px;line-height: 30px;}
.footer a:hover{text-decoration: underline;}
.footer h4{border-left: 4px solid rgb(236, 97, 23);font-size: 14px;line-height: 16px;font-weight: 400;margin-left: -11px;padding-left: 7px;margin-bottom: 30px;}
.copyright{color: rgb(191, 191, 191);font-size: 12px;margin: 32px auto 20px;text-align: center;}
.copyright span{margin: 0px 4px;}
.copyimg{margin: auto;text-align: center;}
/*--------------footer----------------------*/
