*{margin: 0;padding: 0;list-style:none;text-decoration: none;}
a{text-decoration:none;cursor: pointer;display:inline;cursor: pointer;}
img{border: 0px;}
body{text-align: center;font-size: 12px;font-family: "lucida grande",tahoma,verdana,arial,宋体,sans-serif;
}

/*-----------Top------------*/
#hp-topbarNav{width: 1287px;height: 19px;color: rgb(0,0,0);background: none repeat scroll 0% 0% rgb(255, 255, 255);border-bottom: 1px solid rgb(227, 227, 227);color: rgb(153, 153, 153);line-height: 19px;border: 1px solid #ccc;margin: auto;}
.hp-topbarNav-bd{width: 980px;margin-left: auto;margin-right: auto;}
.hp-quickNav{margin: auto;color: rgb(153,153,153);float: left;line-height: 19px;}
.hp-quickNav a:hover{color: rgb(164,31,36);}
.hp-quickNav a:hover{text-decoration: underline;}
.notLogin a:hover{text-decoration: underline;}
.mobileWeb{color: rgb(153,153,153);float: left;font-size: 12px;line-height: 19px;margin: auto;padding: 0 10px 0 0;}
.mobileWeb a,.hp-dropDownMenu a{color: rgb(153, 153, 153);}
.ico-mobile{width: 8px;height: 12px;background-image: url("images/top_ico.png");background-position: 0px -167px;
background-repeat: no-repeat;display: inline-block;margin: 3px 6px 0 0;overflow: hidden;float: left;display: block;}
.line{float: left;color:rgb(236,236,236);}
.mobileclientDown{float: left;padding: 0 10px;}
.red{color: rgb(164,31,36);}
.hp-topLogin-info{width: 288px;height: 19px;float: right;color: rgb(153,153,153);line-height: 19px;margin: auto;}
.notLogin{width: 228px;height: 19px;line-height: 19px;}
.btn-login,.btn-reg{color: rgb(102,102,102);cursor: pointer;}



.hp-dropDownMenu{float: left;}
.dtover{border: 1px solid #ccc;background-color: #fff;border-bottom: 0;}
.hupudd{display: none;width: 100%;height: auto;border: 1px solid #ccc;background-color: #fff;position: absolute;}



.guanzhu{position: relative;cursor: pointer;display: inline-block;padding: 0 17px 0 10px;float: left;position: relative;z-index: 9;}
.guanzhu:hover{padding: 0px 16px 1px 9px;background: none repeat scroll 0% 0% rgb(250, 250, 250);border-left: 1px solid rgb(204, 204, 204);border-right: 1px solid rgb(204, 204, 204);}
.yincang{display: none;width: 100%;height: auto;border: 1px solid #ccc;background-color: #fff;top: 25px;position: relative;}
/*------------Top End----------------*/

/*----------------Header--------------------------*/
.hp-header{width: 980px;height: 68px;color: rgb(51,51,51);line-height: 21.6px;margin-top: 12px;margin-left: auto;margin-right: auto;z-index: 10}
.hp-logo{width: 140px;height: 52px;float: left;margin-top: 7px;color: rgb(68,68,68);margin: auto;}
.hp-mainNav{width: 825px;height: 57px;position: relative;float: right;z-index: 3;margin: auto;}
.hp-nav{width: 825px;height: 28px;border-width: 1px 1px 0px;border-style: solid solid none;border-color: rgb(142, 13, 18) rgb(142, 13, 18) -moz-use-text-color;-moz-border-top-colors: none;-moz-border-right-colors: none;-moz-border-bottom-colors: none;-moz-border-left-colors: none;border-image: none;line-height: 27px;color: rgb(255, 255, 255);border-radius: 2px 2px 0px 0px;margin: auto;}
.hp-nav-bd{height: 27px;background: none repeat scroll 0% 0% rgb(164, 31, 36);border-top: 1px solid rgb(194, 74, 82);border-right: 1px solid rgb(194, 74, 82);}
.hp-nav-item li{float: left;line-height: 27px;height: 27px;padding-right: 8px;padding-left: 8px;}
.hp-nav-item li a{color: rgb(255,255,255);cursor: pointer;margin: auto;line-height: 27px;height: 27px;}
.hp-subNav .line{padding: 0;color: rgb(204,204,204);width: 5px;}
.hp-nav .line{padding: 0;color: rgb(142,13,18);width: 5px;}
.hp-subNav-item li{float: left;line-height: 27px;height: 27px;padding:0px 9px;z-index: 2;}
.hp-subNav-item li a{color: rgb(51,51,51);cursor: pointer;line-height: 27px;height: 27px;}
.hp-subNav{height: 27px;border-width: 1px;border-style: solid;border-color: rgb(255, 255, 255) rgb(204, 204, 204) rgb(204, 204, 204);line-height: 27px;border-radius: 0px 0px 2px 2px;background-image: -moz-linear-gradient(50% 0%, rgb(227, 231, 235), rgb(239, 241, 244))}
.on{background-image: -moz-linear-gradient(50% 0%, rgb(227, 231, 235), rgb(239, 241, 244));font-weight: bold;}
/*----------------Header--------------------------*/


/*----------------------hp-wrap---------------------------------*/
.hp-wrap{width: 980px;height: 4110px;margin: auto;}
.nba-ad980-60{width: 980px;height: 60px;margin: auto;background-color: rgb(204,204,204);}
.main{width: 980px;height: 2900px;margin-top: 5px;}
.container{width: 728px;height: 2900px;margin: auto;float: left;padding-bottom: 10px;}
.focusText{width: 728px;height: 501px;margin: auto;}


.pic{width: 340px;height: 501px;float: left;}
.ifocus{width: 338px;height: 288px;border: 1px solid #ccc;margin: auto}
.hushilanqiu{width: 338px;height: 193px;margin-top: 3px;border: 1px solid rgb(204,204,204)}
.b2{float: left;display: block;width: 130px;height: 20px;line-height: 21.6px;padding: 2px 0 2px 0;background-image: url("images/title2013071801.png");background-position: 0px -201px;background-repeat: no-repeat;}
.bd{width: 338px;height: auto;float: left;margin: auto;border-bottom: 1px solid rgb(204,204,204);}
.nba-item-A{width: 322px;height: 57px;padding: 3px 8px;}
.nba-item-img{width: 80px;height: 50px;float: left;padding: 1px;margin-right: 10px;border: 1px solid rgb(204,204,204);}
.nba-item-text{text-align: left;}
.nba-item-text a{color: rgb(153, 0, 0);}
.nba-item-text a:hover{text-decoration: underline;}
.nba-item-text dd{color: rgb(204,204,204);line-height: 18px;}
.list{width: 330px;height: 42px;}
.list ul{line-height: 16px;clear: both;}
.list li{vertical-align: top;}
.list a{padding-left: 8px;display: block;float: left;cursor: pointer;width: 156px;height: 16px;background-image: url("images/bg_box07.png");background-position: -717px -154px;background-repeat: no-repeat;text-align: left;color: rgb(51,51,51);}



.text{width: 380px;height: 500px;float: right;text-align: left;line-height: 500px;}
.text a:hover{text-decoration: underline;}
.text h2{height: 24px;line-height: 24px;overflow: hidden;font-size: 14px;font-weight: bold;}
.text h2 a{margin-right: 7px;line-height: 24px;cursor: pointer;}
.text h3{height: 20;overflow: hidden;line-height: 20px;font-size: 12px;font-weight: normal;color: rgb(204,204,204);}
.text h3 a{cursor: pointer;color: rgb(51,51,51);margin-right: 3px;margin-left: 3px;}
.lining{width: 4px;height: 16px;background-image: url("images/i_bg_6.png");background-position: -230px 5px;background-repeat: no-repeat;padding: 4px 0 0 25px;}
.text hr{width: 380px;height: 1px;margin: 2px 0 2px 0;line-height: 0;color: rgb(204,204,204);background-color: rgb(204,204,204);}







.nbaad{width: 728px;height: 90px;background-color: rgb(204,204,204);margin-top: 10px;border: 1px solid #ccc;}
/*----------------------hp-wrap---------------------------------*/







.tbmenu{width: 100px;height: auto;position: relative;float: left;cursor: pointer;display: inline-block;padding: 0 17px 0 10px;}
.dtover{border: 1px solid #ccc;background-color: #fff;border-bottom: 0;}
.tbmenudt{width: 82px;height: 23px;border: 1px solid #f5f5f5;border-bottom: 0;position: absolute;top: 2px;z-index: 10;}
.tbmenu a{font-size: 12px;display: block;height: 23px;font-family: 微软雅黑;color: #666;line-height: 23px;padding: 0 0 

0 15px;0}
.tbmenu a:hover{text-decoration: underline;color: #f60;background-color: #fff;}

.tbmenudd{width: 100%;height: auto;border: 1px solid #ccc;background-color: #fff;position: absolute;top: 25px;display: 

none;z-index: 9;}







/*-----------------------------container_top------------------------------------*/
.container_top{width: 720px;height: 1109px;margin-top: 10px;}
.team{width: 340px;height: 1099px;float: left;color: rgb(51,51,51);}
.NBA{width: 340px;height: 735px;}
.top{height: 5px;background: url("images/bg_box07.png") no-repeat scroll 0px -90px transparent;}
.center{width: 340px;height: 725px;background-color: transparent;background: url("images/f_bg.png") repeat-y scroll -987px 0px transparent;}
.nba-hd-B{height: 26px;padding: 0 17px 0 13px;}
.nba-hd-B h2{float: left;}
.hdlink{float: right;width: 135px;height: 22px;color: rgb(204, 204, 204);font-size: 12px;line-height: 21.6px;}
.hdlink a{color: rgb(51, 51, 51);cursor: pointer;}
.bottom{height: 5px;background: url("images/bg_box07.png") no-repeat scroll 0px -97px transparent;}
.list2{width: 332px;height: auto;}
.list2 ul{padding: 2px 0 10px 0;}
.list2 li{height: 21px;width: 332px;line-height: 21.6px;text-align: left;padding: 6px 0 2px 10px;}
.list2 a{cursor: pointer;color: rgb(51,51,51);}
.bdlast{width: 338px;height: auto;float: left;margin: auto;}



.news{width: 380px;height: 1115px;float: right;line-height: 21.6px;}
.retie{width: 380px;height: 384px;}
.retietop{background-repeat: no-repeat;width: 380px;height: 24px;background: url("http://w3.hoopchina.com.cn/index/images/bg_box07.png?v-1") no-repeat scroll 0px -60px transparent;line-height: 24px;padding-top: 5px;}
.asdasd{float: left;}
.d3{background-image: url("images/title2013071801.png");background-repeat: no-repeat;height: 20px;width: 130px;background-position: 0px -441px;}
.d4{background-image: url("images/title2013071801.png");background-repeat: no-repeat;height: 20px;width: 130px;background-position: 0px -161px}
.more_tab{width: 220px;float: right;text-align: right;padding-right: 16px;height: 25px;font-size: 12px;line-height: 25px;color: rgb(204, 204, 204);margin-top: -2px;}
.more_tab a{color: rgb(153,153,153);cursor: pointer;}
.more_tab a:hover{color: rgb(153, 0, 0);text-decoration: underline;}
.retiecontent{border-left: 1px solid rgb(204, 102, 102);border-right: 1px solid rgb(204, 102, 102);padding: 0px 10px;width: 358px;height: 350px;}
.relist{width: 358px;height: auto;overflow: hidden;border-bottom: medium none;padding: 0px;}
.qu{padding: 0px;width: 43px;height: 18px;float: left;overflow: hidden;clear: both;}
.qu a{cursor: pointer;color: rgb(153, 0, 0);}
.qu a:hover{text-decoration: underline;}
.qu2{display: block;overflow: hidden;height: 20px;width: 313px;line-height: 20px;float: right;padding: 0px;margin: 0px;}
.qu2 a{color: rgb(51, 51, 51);cursor: pointer;float: left;text-align: left;}
.qu2 a:hover{color: rgb(153,0,0);text-decoration: underline;}
.liangle{margin-left:5px;float: left;color: rgb(119, 119, 119);}
.kongdang{display: block;clear: both;overflow: hidden;width: 358px;height: 2px;margin: 0px auto;padding: 0px;font-size: 0px;line-height:2px;}
.retiebottom{background: url("images/bg_box07.png") no-repeat scroll 0px -50px transparent;height: 5px;overflow: hidden;margin-bottom: 10px;}
.liuyanyuhuabian{width: 380px;height: 336px;margin-top: 5px;}
.liuyancontent{border-left: 1px solid rgb(204, 102, 102);border-right: 1px solid rgb(204, 102, 102);padding: 0px 10px;width: 358px;height: 310px;}
.liuyancontent ul{float: left;text-align: left;}
.liuyancontent li{display: inline;float: left;width: 358px;height: 22px;}
.liuyancontent a{color: rgb(51,51,51);}
.liuyancontent a:hover{color: rgb(153,0,0);text-decoration: underline;}


.deepBasketDiscus{width: 340px;height: 354px;margin-top: 10px;}
.deepBasketDiscusCenter{width: 340px;height: 349px;background: url("images/f_bg.png") repeat-y scroll -987px 0px transparent;}

.CBA{width: 380px;height: 167px;margin-top: 10px;}
.cbacenter{width: 358px;height: 133px;border-left: 1px solid rgb(204, 102, 102);border-right: 1px solid rgb(204, 102, 102);padding: 0px 10px;}
/*-----------------------------container_top------------------------------------*/








.photo{width: 728px;height: 176px;}
.container_bottom{width: 728px;height: 1111px;border: 1px solid #ccc;}
.hupuphoto{width: 728px;height: 448px;border: 1px solid #ccc;margin-top: 10px;}
.container_bottom{width: 728px;height: 394px;border: 1px solid #ccc;margin-top: 10px;}




.footernew{color:#515151;font-size:12px;height:100px;line-height:24px;margin:12px auto 0;overflow:hidden;text-align:center;width:910px;}
.footheight{height:70px;overflow:hidden;}
.footernew a{color:#515151;text-decoration:none;}
.footernew a.lchot{color:#BD0A01;}
.footernew a:hover{color:#BD0A01;text-decoration:underline;}
.footernew a:visited{color:#515151;}
.footernew div{margin:0 auto;width:546px;}
.footernew p{border:1px solid #D2D2D2;float:left;font-size:12px;height:50px;line-height:20px;margin:6px;padding:0;width:120px;overflow:hidden;}
.footernew .fl{float:left;padding:3px;}
.footernew .fr{float:right;padding:5px 3px 0 0;width:72px;}
.fl{float: left;}
.fr{float: right;}









.phototop{background: url("images/bg_box07.png") no-repeat scroll 0px -218px transparent;
width: 728px;
left: 0px;
top: -5px;
height: 5px;
overflow: hidden;}

.photocenter{background: none repeat scroll 0% 0% rgb(255, 255, 255);
border-left: 1px solid rgb(204, 204, 204);
border-right: 1px solid rgb(204, 204, 204);
overflow: hidden;width: 728px;height: 169px;}

.photobottom{background: url("images/bg_box07.png") no-repeat scroll 0px -225px transparent;
height: 7px;
margin-bottom: 0px;
overflow: hidden;}