*{margin: 0;padding: 0}
a{text-decoration: none;display:inline;cursor: pointer;}
img{border: 0px;}
ul,li{list-style: none;cursor: pointer;}
dt{cursor: pointer;}
body{font:12px/1.5 Tahoma,'微软雅黑','Microsoft Yahei',"hiragino sans gb",Helvetica,Arial,"宋体",'sans-serif';color: rgb(51, 51, 51);}

.fl{float: left;}
.fr{float: right;}